<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" type="text/css" href="/map/ol.css">
  <link rel="stylesheet" type="text/css" href="/map/map.css">
  <link rel="stylesheet" type="text/css" href="/iconfont.css">
  <script src="https://api.mapbox.com/mapbox.js/plugins/arc.js/v0.1.0/arc.js"></script>
  <title></title>
  <script>
   window.config={
     mapkey:'5d27dc75ca0c3bdf34f657ffe1e9881d',
     arc:window.arc
   }
  </script>
</head>

<body>
  <div id="root"></div>
</body>
</html>
